<div class="app-container">
  <div class="list-view">
    <app-cars-list [carsList]="cars"></app-cars-list>
  </div>
  <div class="form-view">
    <div class="form-control">
      <div>
        <h4>Add New Car</h4>
      </div>

      <div class="form-container">
        <div class="label">
          <label>Car Name</label>
        </div>
        <div class="form">
          <input type="text" tabindex="1" [(ngModel)]="car.name" />
        </div>
      </div>

      <div class="form-container">
        <div class="label">
          <label>Engine Displacement</label>
        </div>
        <div class="form">
          <input type="text" tabindex="2" [(ngModel)]="car.engineDisp" />
        </div>
      </div>

      <div class="form-container">
        <div class="label">
          <label>Engine Power</label>
        </div>
        <div class="form">
          <input type="number" tabindex="3" [(ngModel)]="car.enginePower" />
        </div>
      </div>

      <div class="form-container">
        <div class="label">
          <label>Price</label>
        </div>
        <div class="form">
          <input type="number" tabindex="4" [(ngModel)]="car.price" />
        </div>
      </div>

      <div class="form-container">
        <div class="label">
          <label>Location</label>
        </div>
        <div class="form">
          <input type="text" tabindex="5" [(ngModel)]="car.location" />
        </div>
      </div>

      <div class="form-container">
        <div class="btn-submit-container">
          <button class="btn btn-pos" (click)="submitCar()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
